# Read and prepare data for machine learning

In [1]:
import pandas as pd

weather = pd.read_csv('Pearson Airport Weather.csv', index_col = 'DATE')

In [2]:
weather

,STATION,NAME,PRCP,SNOW,SNWD,TMAX,TMIN
DATE,,,,,,,
1970-01-01,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,5.1,17,1
1970-01-02,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,5.1,23,-3
1970-01-03,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.08,2.0,5.1,18,12
1970-01-04,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,7.1,17,4
1970-01-05,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,7.1,21,9
...,...,...,...,...,...,...,...
2013-06-08,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,69,55
2013-06-09,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,73,52
2013-06-10,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.87,0.0,NaN,63,60
2013-06-11,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.26,0.0,NaN,74,61
2013-06-12,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,73,57

In [8]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
PRCP       0.000000
SNOW       0.000000
SNWD       0.005187
TMAX       0.000000
TMIN       0.000000
dtype: float64

In [10]:
core_weather = weather[['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']].copy()

In [12]:
core_weather.columns = ['precip', 'snow', 'snow_depth', 'temp_max', 'temp_min']

In [13]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1970-01-01    0.00   0.0         5.1        17         1
1970-01-02    0.00   0.0         5.1        23        -3
1970-01-03    0.08   2.0         5.1        18        12
1970-01-04    0.00   0.0         7.1        17         4
1970-01-05    0.00   0.0         7.1        21         9
...            ...   ...         ...       ...       ...
2013-06-08    0.00   0.0         NaN        69        55
2013-06-09    0.00   0.0         NaN        73        52
2013-06-10    0.87   0.0         NaN        63        60
2013-06-11    0.26   0.0         NaN        74        61
2013-06-12    0.00   0.0         NaN        73        57

[15809 rows x 5 columns]

# Handle missing values

In [17]:
core_weather.apply(pd.isnull).sum() / core_weather.shape[0]

precip        0.000000
snow          0.000000
snow_depth    0.005187
temp_max      0.000000
temp_min      0.000000
dtype: float64

In [32]:
core_weather['snow_depth'].value_counts()
# If there there isn't much snow, delete this column
# del core_weather['snow_depth']

snow_depth
0.0     12555
1.2       378
0.4       364
0.8       300
2.0       270
3.1       202
1.6       196
3.9       168
2.4       157
2.8       143
5.1       115
3.5        96
7.1        93
5.9        87
4.7        82
4.3        68
5.5        65
6.3        58
6.7        50
7.9        49
9.1        31
7.5        28
8.3        24
9.4        21
8.7        17
11.0       14
9.8        13
15.0        9
13.0        8
10.2        7
11.8        7
12.6        7
13.8        6
18.9        6
14.2        4
18.1        4
10.6        4
16.9        3
12.2        3
16.1        3
15.7        2
26.4        2
14.6        2
17.3        1
15.4        1
21.7        1
11.4        1
16.5        1
17.7        1
Name: count, dtype: int64

In [23]:
core_weather[pd.isnull(core_weather['snow_depth'])]
# See the rows where snow_depth valueis NaN

            precip  snow  snow_depth  temp_max  temp_min
DATE
2013-01-13    1.17   0.0         NaN        59        40
2013-01-14    0.00   0.0         NaN        41        23
2013-01-15    0.00   0.0         NaN        34        23
2013-01-16    0.00   0.0         NaN        38        25
2013-01-30    0.11   0.0         NaN        57        42
...            ...   ...         ...       ...       ...
2013-06-08    0.00   0.0         NaN        69        55
2013-06-09    0.00   0.0         NaN        73        52
2013-06-10    0.87   0.0         NaN        63        60
2013-06-11    0.26   0.0         NaN        74        61
2013-06-12    0.00   0.0         NaN        73        57

[82 rows x 5 columns]

In [27]:
core_weather['snow'].value_counts()
# There is still lots of data with snow, so keep the column

snow
0.0    13816
0.1      383
0.2      366
0.3      118
0.4      118
       ...
6.4        1
7.3        1
4.2        1
8.2        1
8.8        1
Name: count, Length: 75, dtype: int64

In [31]:
core_weather.loc['1970-1-1':'2010-12-31',:]

            precip  snow  snow_depth  temp_max  temp_min
DATE
1970-10-01    0.00   0.0         0.0        56        41
1970-10-02    0.20   0.0         0.0        66        41
1970-10-03    0.06   0.0         0.0        60        42
1970-10-04    0.00   0.0         0.0        51        35
1970-10-05    0.09   0.0         0.0        57        32
...            ...   ...         ...       ...       ...
2010-12-27    0.00   0.0         0.4        29        13
2010-12-28    0.00   0.0         0.0        32        23
2010-12-29    0.00   0.0         0.0        31        22
2010-12-30    0.00   0.0         0.0        40        18
2010-12-31    0.01   0.0         0.0        50        39

[14642 rows x 5 columns]

In [33]:
# replace null values with 0
# Since for most of the days, snow_depth is 0.0

core_weather['snow_depth']= core_weather['snow_depth'].fillna(0)

In [39]:
# check
core_weather.apply(pd.isnull).sum()

precip        0
snow          0
snow_depth    0
temp_max      0
temp_min      0
dtype: int64

In [44]:
core_weather.dtypes

precip        float64
snow          float64
snow_depth    float64
temp_max        int64
temp_min        int64
dtype: object

In [45]:
core_weather.index

Index(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04', '1970-01-05',
       '1970-01-06', '1970-01-07', '1970-01-08', '1970-01-09', '1970-01-10',
       ...
       '2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
       '2013-06-08', '2013-06-09', '2013-06-10', '2013-06-11', '2013-06-12'],
      dtype='object', name='DATE', length=15809)

In [46]:
# turn the index of the data into the datetime index
core_weather.index = pd.to_datetime(core_weather.index)

In [47]:
core_weather.index

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04',
               '1970-01-05', '1970-01-06', '1970-01-07', '1970-01-08',
               '1970-01-09', '1970-01-10',
               ...
               '2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06',
               '2013-06-07', '2013-06-08', '2013-06-09', '2013-06-10',
               '2013-06-11', '2013-06-12'],
              dtype='datetime64[ns]', name='DATE', length=15809, freq=None)

In [51]:
core_weather.index.month

Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       ...
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
      dtype='int32', name='DATE', length=15809)

# Handle other missing-data cases

NOAA documentation: 
Note: 9's in a field (eg.9999) indicate missing data or data that has not been received.

In [52]:
# Checked: such cases does not appear in the data set
core_weather.apply(lambda x: (x==9999).sum())

precip        0
snow          0
snow_depth    0
temp_max      0
temp_min      0
dtype: int64