In [1]:
import pandas as pd

weather = pd.read_csv('Pearson Airport Weather.csv', index_col = 'DATE')

In [2]:
weather

,STATION,NAME,PRCP,SNOW,SNWD,TMAX,TMIN
DATE,,,,,,,
1970-01-01,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,5.1,17,1
1970-01-02,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,5.1,23,-3
1970-01-03,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.08,2.0,5.1,18,12
1970-01-04,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,7.1,17,4
1970-01-05,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,7.1,21,9
...,...,...,...,...,...,...,...
2013-06-08,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,69,55
2013-06-09,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,73,52
2013-06-10,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.87,0.0,NaN,63,60
2013-06-11,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.26,0.0,NaN,74,61
2013-06-12,CA006158733,"TORONTO LESTER B. PEARSON INT, ON CA",0.00,0.0,NaN,73,57

In [8]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
PRCP       0.000000
SNOW       0.000000
SNWD       0.005187
TMAX       0.000000
TMIN       0.000000
dtype: float64

In [10]:
core_weather = weather[['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']].copy()

In [12]:
core_weather.columns = ['precip', 'snow', 'snow_depth', 'temp_max', 'temp_min']

In [13]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1970-01-01    0.00   0.0         5.1        17         1
1970-01-02    0.00   0.0         5.1        23        -3
1970-01-03    0.08   2.0         5.1        18        12
1970-01-04    0.00   0.0         7.1        17         4
1970-01-05    0.00   0.0         7.1        21         9
...            ...   ...         ...       ...       ...
2013-06-08    0.00   0.0         NaN        69        55
2013-06-09    0.00   0.0         NaN        73        52
2013-06-10    0.87   0.0         NaN        63        60
2013-06-11    0.26   0.0         NaN        74        61
2013-06-12    0.00   0.0         NaN        73        57

[15809 rows x 5 columns]